<h2> List Of Books</h2>
<p *ngIf = "!(books$ | async)">Loading...</p>
<ul *ngFor = "let book of books$ | async" >
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      {{book.title}}
    </mat-expansion-panel-header>
    {{book.author}}
  </mat-expansion-panel>
</mat-accordion>
