<h2> List Of Posts</h2>
<p *ngIf = "!(posts$ | async)"> loading posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{post.body}} 
       <div *ngFor = "let user of users$ | async">
         <div *ngIf = "user.id == post.userId" > <b>Author: </b>{{user.name}}  </div>
       
      </div>
    </mat-expansion-panel>
  </mat-accordion>
